<footer>
    <div class="text">
        <h1>
            Quer elevar seu software e seus <br>negócios para outro nível?
        </h1>
        <app-button-primary btn-text="Fale com nossos especialistas"></app-button-primary>
    </div>
    
    <div class="socials">
            <img ngSrc="/assets/logo.png" width="120" height="100"/>
            <div class="socials2">
                <img ngSrc="./assets/insta.png" width="25" height="25"/>
                <img ngSrc="./assets/face.png" width="25" height="25"/>
            </div>
            
        </div>
</footer>