<app-header />
<main>
    <section class="main-section pad-70">
        <div class="headline">
            <span>Consultoria</span>
            <h1>A consultoria que você busca para o seu software</h1>
        </div>
        <img ngSrc="./assets/banner.png" alt="Banner" width="669" height="538" priority>
    </section>
    <section class="benefit-section pad-70">
        <div class="benefit-data">
            <h2>
                95% das <br>
                empresas    
            </h2>
        </div>
        <p>não sabem como lidar com problemas de <b>escalabilidade</b> e grande volume de requisições.</p>
    </section>
    <section class="cta-section">
        <app-button-primary btn-text="Fale com nossos especialistas"></app-button-primary>
    </section>
    <newsletter-form></newsletter-form>
    <benefit></benefit>
    <app-footer />
</main>